{% extends 'base.html.twig' %}

{% block title %}Edit Timeslot{% endblock %}

{% block body %}

    <h2 class="h2">Edit Timeslot</h2>
    <p class="lead my-3">
        Edit timeslot {{ timeslot }}
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('student_group_index', {'plan': timeslot.plan.id}) }}">Back To List</a>
    </div>

    {{ include('timeslot/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('timeslot/_delete_form.html.twig') }}

{% endblock %}
