{% extends 'base.html.twig' %}

{% block title %}New Timeslot{% endblock %}

{% block body %}

    <h3 class="h3">New Timeslot</h3>
    <p class="lead my-3">
        Create new Timeslot for plan {{ timeslot.plan }}
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('timeslot_index', {'plan': timeslot.plan.id}) }}">Back To List</a>
    </div>

    {{ include('timeslot/_form.html.twig') }}

{% endblock %}
