{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div>
    <h3 class="h3">Scheduler</h3>
    <p class="lead my-3">
        Scheduler is an application that lets you create complete school class timetable for school or university.
    </p>

    <div class="row my-3">
        <a class="btn btn-primary p-3 m-1 rounded col-md-2" href="{{ path('plan_index') }}">
            <i class="fas fa-3x fa-clipboard-list"></i><br/>
            <div class="mt-2">My plans</div>
        </a>

        <a class="btn btn-primary p-3 m-1 rounded col-md-2 disabled" href="{{ path('plan_index') }}">
            <i class="fas fa-3x fa-question-circle"></i><br/>
            <div class="mt-2">Help</div>
        </a>

        <a class="btn btn-primary p-3 m-1 rounded col-md-2 disabled" href="{{ path('plan_index') }}">
            <i class="fas fa-3x fa-file-contract"></i><br/>
            <div class="mt-2">Terms</div>
        </a>
    </div>

</div>
{% endblock %}
