{% extends 'base.html.twig' %}

{% block title %}Edit Feature{% endblock %}

{% block body %}

    <h1 class="h1">Edit Feature</h1>
    <p class="lead my-3">
        Edit feature {{ feature }}
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('feature_index', {'plan': feature.plan.id}) }}">Back To List</a>
    </div>

    {{ include('feature/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('feature/_delete_form.html.twig') }}

{% endblock %}
