{% extends 'base.html.twig' %}

{% block title %}New Feature{% endblock %}

{% block body %}

    <h2 class="h2">New Feature</h2>
    <p class="lead my-3">
        Create new Feature for plan {{ feature.plan }}
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('feature_index', {'plan': feature.plan.id}) }}">Back To List</a>
    </div>

    {{ include('feature/_form.html.twig') }}

{% endblock %}
