{% extends 'base.html.twig' %}

{% block title %}Feature{% endblock %}

{% block body %}

    <h2 class="h2">Feature</h2>
    <p class="lead my-3">
        Feature {{ feature }} details
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('feature_index', {'plan': feature.plan.id}) }}">Back To List</a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ feature.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ feature.name }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
