{% extends 'base.html.twig' %}

{% block title %}New Teacher{% endblock %}

{% block body %}

    <h2 class="h2">New Teacher</h2>
    <p class="lead my-3">
        Create new Teacher for plan {{ teacher.plan }}
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('teacher_index', {'plan': teacher.plan.id}) }}">Back To List</a>
    </div>

    {{ include('teacher/_form.html.twig') }}

{% endblock %}
