{% extends 'base.html.twig' %}

{% block title %}Change Plan Name{% endblock %}

{% block body %}

    <h2 class="h2">Change Plan Name</h2>
    <p class="lead my-3">
        Change name of plan {{ plan }}
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('plan_dashboard', {'id': plan.id}) }}"> Back To Dashboard</a>
    </div>

    {{ include('plan/_form.html.twig', {'button_label': 'Save'}) }}

{% endblock %}
