{% extends 'base.html.twig' %}

{% block title %}Change plan name{% endblock %}

{% block body %}
    <h1 class="h1 my-3">Change plan name</h1>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('plan_dashboard', {'id': plan.id}) }}">Back to dashboard</a>
    </div>

    {{ include('plan/_form.html.twig', {'button_label': 'Save'}) }}

{% endblock %}
