{% extends 'base.html.twig' %}

{% block title %}New Plan{% endblock %}

{% block body %}
    <h1>Create New Plan</h1>

    {{ include('plan/_form.html.twig') }}

    <a href="{{ path('plan_index') }}"> Back To List</a>
{% endblock %}
