{% extends 'base.html.twig' %}

{% block title %}New Plan{% endblock %}

{% block body %}

    <h3 class="h3">New Plan</h3>
    <p class="lead my-3">
        Create new Plan
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('plan_index') }}">Back To List</a>
    </div>

    {{ include('plan/_form.html.twig') }}

{% endblock %}
