{% extends 'base.html.twig' %}

{% block title %}Edit Student Group{% endblock %}

{% block body %}

    <h1 class="h1">Edit Student Group</h1>
    <p class="lead my-3">
        Edit student group {{ student_group }}
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('student_group_index', {'plan': student_group.plan.id}) }}">Back To List</a>
    </div>

    {{ include('student_group/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('student_group/_delete_form.html.twig') }}

{% endblock %}
