{% extends 'base.html.twig' %}

{% block title %}New StudentGroup{% endblock %}

{% block body %}
    <h1>Create New StudentGroup</h1>

    {{ include('student_group/_form.html.twig') }}

    <a href="{{ path('student_group_index', {'plan': student_group.plan.id}) }}"> Back To List</a>
{% endblock %}
