{% extends 'base.html.twig' %}

{% block title %}Edit Subject{% endblock %}

{% block body %}

    <h1 class="h1">Edit Subject</h1>
    <p class="lead my-3">
        Edit subject {{ subject }}
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('subject_index', {'plan': subject.plan.id}) }}">Back To List</a>
    </div>

    {{ include('subject/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('subject/_delete_form.html.twig') }}

{% endblock %}
