{% extends 'base.html.twig' %}

{% block title %}New Subject{% endblock %}

{% block body %}

    <h2 class="h2">New Subject</h2>
    <p class="lead my-3">
        Create new Subject for plan {{ subject.plan }}
    </p>

    <div class="my-3">
        <a class="btn btn-primary" href="{{ path('subject_index', {'plan': subject.plan.id}) }}">Back To List</a>
    </div>

    {{ include('subject/_form.html.twig') }}

{% endblock %}
