{% extends 'base.html.twig' %}

{% block title %}New Subject{% endblock %}

{% block body %}
    <h1>Create New Subject</h1>

    {{ include('subject/_form.html.twig') }}

    <a href="{{ path('subject_index', {'plan': subject.plan.id})}}"> Back To List</a>
{% endblock %}
